

{% extends "../BlogPlatform/templates/scaffolding/base.html" %}

{% block base %}
    <div> {# section: menu, description: main menu #}
        <div> {# button: home, description: home #}
            <a href="#"></a>
        </div>
        <div> {# button: about, description: about #}
            <a href="#"></a>
        </div>
        <div> {# button: articles, description: articles #}
            <a href="#"></a>
        </div>
        <div> {# button: signing, description: sign up #}
            <a href="#"></a>
        </div>
    </div>
{% endblock %}