<h2 class="card-header" property="name">
    Samsung's Foldable Phone
</h2>
<div class="card-body" property="contains" resource="SamsungsPhone" typeof="text">
    <meta property="name" content="Article about samsung's phone">

    <div property="alternatives" resource="SamsungVideo" typeof="media">
        <meta property='type' content='Audio'>
        <meta property="name" content="In video form">
        <video controls property="source" id='media/A.mp4' src='media/A.mp4' width="640" height="480">
            media/A.mp4</video>
    </div>
    <div property="alternatives" resource="SamsungArticle" typeof="text">
        <meta property="name" content="Read by Chrome">
        <p property="content">
            Samsung has unveiled a foldable smartphone - the Galaxy Fold - alongside a 5G Galaxy S10 handset and three other Galaxy S10 mobiles.

The Fold will go on sale in just over two months time, earlier than many expected.

The Galaxy S10 5G features the firm's biggest-ever non-folding phone display and promises faster data speeds when networks become available.

The S10 line-up also includes the introduction of a lower-cost model.

Samsung had previously acknowledged that the cost of its S9 range had contributed to "lower-than-expected sales".

            <h1>Open-up screen</h1>

        Samsung said the Galaxy Fold would open up to create a 7.3in (18.5cm) tablet-like display and would be able to run up to three apps at once.

A demo showed off "app continuity" features by which the device transferred from one mode to another much more smoothly than had been the case with an earlier foldable phone - Royole's FlexPai.

        One example involved a Google Maps screen appearing on the Fold's smaller front display and then expanding to a larger view when the handset was opened following a one-second pause.

Samsung added that Whatsapp, Facebook, YouTube and Microsoft Office would also be optimised to suit the new form-factor.

It said that it had designed a new type of hidden hinge system that would withstand hundreds of thousands of folds and unfolds, and contained a battery on each side to extend its runtime.

        In addition, the South Korean firm said the phone contained six cameras - three on the back, two on the inside and one on the front - to ensure it could take photos however it is held.

A 4G version of the Galaxy Fold is set to go on sale on April 26 and will start at $1,980 (£1,515). A more expensive 5G edition was also promised.

Samsung described it as being a "luxury" item.

"Fold is an experience that gives people who want a phone but also a larger screen with no compromise on the phone experience," commented Carolina Milanesi from the consultancy Creative Strategies.

"There's a lot of tech packed in there. And it makes sense to have kept it under $2,000 even if only for the psychological effect that has."

        But another market watcher still had doubts.

"In theory, foldables are hugely attractive: they pack a giant screen into a small design," commented Neil Mawston from the research firm Strategy Analytics.

"But in reality, consumers don't know exactly how they will work, and the applications for them are still fairly immature.

"You can look back at history at the dual-screen folder phones that ZTE and NEC and others release. They haven't sold particularly well mostly due to price and lack of distribution.

"So, there's good potential, but still a lot of uncertainty."


        </p>
    </div>
</div>